.main-platos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

#platos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-platos{
    margin-right: 300px;
}

img{
    width: 100px;
}