body{
    font-family: sans-serif;
}

.main-platos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

#platos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.m-platos{
    margin-right: 300px;
}

.entrada{
    margin-right: 100px;
    margin-top: 50px;
    text-align: justify;
    width: 120px;
}

.principal{
    margin-right: 100px;
    margin-top: 50px;
    text-align: justify;
    width: 120px;
}

.postre{
    margin-right: 100px;
    margin-top: 50px;
    text-align: justify;
    width: 120px;
}

img{
    width: 100px;
    border-radius: 5px;
}

h1{
    text-align: center;
}