body {
    background-color: rgb(243, 243, 241);
}

.encabezado{
    background-color:rgb(188, 194, 192);
    font-size: x-large;
    border: 2px solid black;
    padding-left: 10px;
}

.icon {padding: 10px; 
    margin: 10px; 
    border: 2px solid black;  
    width: 165px;
    float: right;
}

.botones{
    height: auto;
    width: 34%;
    padding: 20px;
    background-color:rgb(188, 194, 192);
    align-self: center;
    border: 2px solid black;
    margin: auto;
}

.botones a{
    padding: 10px;
    text-decoration: rgb(188, 194, 192);
    background-color: black;
    color: white;
    border-radius: 10px;
}

.botones a:hover{
    background-color: rgb(128, 150, 142);
}

#intro {
    background-color:gainsboro;
    margin-left: 400px;
    margin-right: 400px;
    padding: 2%;
}

