body {
    background-image: url('img/fondo.jpg');
}

.encabezado{
    font-size: x-large;
    border: 2px solid black;
    padding-left: 35%;
    margin: 0%;    
    color: black;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#temp {
    font-style: italic;
    font-weight: bold;
}

#date {
    font: bolder;
    font-size: 20px;
}

#Nombre{
    font-style: oblique;
    float: left;
}

#direccion{
    font-style: italic;
    font-size: smaller;
    margin-left: 230px;
    margin-top: 60px;
    
}

.icon {padding: 10px; 
    margin: 10px; 
    width: 180px;
    float: right;
    margin-top: 10px;
}

.icon-2 {padding: 10px; 
    margin: 10px; 
    width: 180px;
    float: left;
    margin-top: 10px;
}

hr {
    border: 1px solid black;
}

.botones{
    height: auto;
    width: 40%;
    padding: 15px;
    opacity: 1;
    align-self: center;
    border:0px;
    margin: auto;
}

.botones a{
    padding: 10px;
    text-decoration: rgb(188, 194, 192);
    background-color: black;
    color: white;
    border-radius: 10px;
}

.botones a:hover{
    background-color: rgb(128, 150, 142);
}

#intro {
    background-color:gainsboro;
    background-color:gainsboro;
    width: 36%;
    margin-left: 150px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    box-shadow: 
        10px -10px 0px -3px rgb(40, 37, 43),
        10px -10px,
        20px -20px 0 -3px rgb(40, 37, 43),
        20px -20px;
    top: 0;
    left: 0;
    float: left;
    transition: box-shadow 1s, top 1s, left 1s;
}

#intro:hover {
    top: -20px;
    left: 20px;
    box-shadow: 
        0px 0px 0px -3px gainsboro,
        0px 0px,
        0px 0px 0px -3px gainsboro,
        0px 0px;
}

#contacto {
    background-color:rgb(221, 225, 228);
    width: 36%;
    margin-left: 150px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    box-shadow: 
        10px -10px 0px -3px rgb(40, 37, 43),
        10px -10px,
        20px -20px 0 -3px rgb(40, 37, 43),
        20px -20px;
    top: 0;
    left: 0;
    margin-left: 700px;
    transition: box-shadow 1s, top 1s, left 1s;
}

#contacto:hover {
    top: -20px;
    left: 20px;
    box-shadow: 
        0px 0px 0px -3px gainsboro,
        0px 0px,
        0px 0px 0px -3px gainsboro,
        0px 0px;
}

.intro-2{
    background-image: url('/TP-prog_web/img/textura-de-fondo-madera-abstracto-con-espacio-para-texto-205449331.jpg');
    text-align: center;
}
.intro-2 .box-tasvir{
    overflow: hidden;
    height: 320px;
    width: 320px;
    position: relative;
    margin: 0 auto;
}

@keyframes masihscroll {
    0% {transform: translateY(0%);}
    50% {transform: translateY(-80%);}
    100% {transform: translateY(-0%);}
}

.box-tasvir img {
    width: 100%;
    height: auto;
    max-width: 100%;
    transition: all 10s;
    animation-duration: 25s;
    animation-name: masihscroll;
    animation-iteration-count: 1000;
}

.menu-boton a{
    padding: 10px;
    text-decoration: rgb(188, 194, 192);
    background-color: black;
    color: white;
    border-radius: 10px;
}

.menu-boton a:hover{
    background-color: rgb(128, 150, 142);
}

#animo-img {
    width: 100px;
}

#valoracion{
    text-align: center; 
    flex-direction: row;
}


fieldset {
    width: 30%;
    text-align: center;
    margin-left: 35%;    
}